<!-- your html code here -->
<hr>
<div class="container">
    <div class="row">
        <div class="heading mb-3">
            <div class="row g-0">
                <div class="col-md-8">
                    <h2>The First Heading <span class="text-secondary">Will Catch your Eye</span></h2>
                    <p>Lorem hola ipsum dolor sit, amet consectetur adipisicing elit. Asperiores officia iste odit hic facere dolore
                        eligendi sit reiciendis, beate similique, fugiat officiis, deserunt obcaecati aliquam libero autem dolor dignissimos dolorum?
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="https://yt3.googleusercontent.com/ytc/AGIKgqON8Pzk1OJyyipnRSVOdfnz8RzcC5tW37WxKKX3rA=s900-c-k-c0x00ffffff-no-rj"
                class="img-fluid rounded-circle mx-auto d-block" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>
<hr>